html {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: FiraCode;
}

#h1 {
  font-family: Bangers;
}

.button {
  background-color: black;
  font-family: FiraCode;
  font-weight: bold;
  font-size: medium;
}
