html {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin-top: 50vh;
}

.button {
  background-color: black;
}

#rock {
  color: red;
}

#paper {
  color: white;
}

#scissors {
  color: rgb(78, 78, 255);
}
